
.div_word 
{
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    font-family: Courier New;
    font-size: 8.0em;
    
}

.div_edit {
    text-align: center;
}

.wrong 
{
    color: Red;
}

.navigation-info
{
    text-align: center;
    font-size: x-small;
}